<!-- <div class="todo">
  <div class="todo-content">
    <div class="handle">
      <img src="./assets/svg/drag.svg" alt=""> 
    </div>
    <div class="todo-content-check">
      <img src="./assets/svg/checkbox-empty.svg" alt="">
      <img src="./assets/svg/checkbox-done.svg" alt="">
    </div>
    <div class="todo-content-titel">
      <input type="text"
              placeholder="place holder ToDo Content Titel">
    </div>
  </div>
  <div class="delete">
    <span>Löschen</span>
  </div>
</div> -->
